[submodule "lib/GSL"]
	path = lib/GSL
	url = https://github.com/microsoft/GSL
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/Vulkan-Hpp"]
	path = lib/Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp
